.env

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode (si no quieres subir tus configs de VSCode, descomenta)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Archivos generados por CMake/Ninja/NDK/etc
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
**/build.ninja
**/compile_commands.json
**/configure_fingerprint.bin
**/*.bin
**/*.json
**/*.txt
**/*.cpp
**/*.h
**/*.o
**/*.so
**/*.a
**/*.dex
**/*.map

# Archivos temporales/cache de código nativo
**/metadata_generation_command.txt
**/additional_project_files.txt
**/symbol_folder_index.txt
**/prefab_config.json
**/TargetDirectories.txt
**/hash_key.txt

# Archivos temporales nativos generados (CMake, NDK)
android/app/.cxx/
**/configure_fingerprint.bin
**/cache-v2
**/codemodel-v2
**/cmakeFiles-v1
**/configure_fingerprint.bin
